# Python
__pycache__/
*.so
*.ipynb_checkpoints

processed_data.pkl
vocab.pkl
word2vec_vectors.pkl

# Model checkpoints and logs
models/
*.keras
*.h5
*.ckpt
*.pb
*.tflite
logs/
pitt_split/
pitt_split1/
embeddings/
# PyTorch cache
*.pt
*.pth

# Mac & Linux
.DS_Store

# Windows
Thumbs.db

diagnosis/