# Python
__pycache__/
*.so
*.ipynb_checkpoints

processed_data.pkl
vocab.pkl
word2vec_vectors.pkl
precomputed_original_audio_features.npy
precomputed_original_labels.npy
precomputed_both_audio_features.npy
precomputed_both_labels.npy

# Model checkpoints and logs
models/
*.keras
*.h5
*.ckpt
*.pb
*.tflite
logs/
pitt_split/
pitt_split1/
embeddings/
# PyTorch cache
*.pt
*.pth

# Mac & Linux
.DS_Store

# Windows
Thumbs.db

diagnosis/

backup/